<tr>
							  		 	<td> Department of Health Care Policy and Financing </td>
							  		 	<td> Medical Services Board (Volume 8; Medical Assistance, Children&#39;s Health Plan) </td>
							  		 	<td> 
							  		 	
											<a href="/CCR/Upload/NoticeOfRulemaking/ProposedRuleAttach2026-00328.docx" target="_blank">
											<span style="text-decoration: underline;">MEDICAL ASSISTANCE - STATEMENTS OF BASIS AND PURPOSE AND RULE HISTORY</span></a>
										
										
										

							  		 	</td>
							  		 	<td> <a href="javascript:void(0)" onclick="OpenDetailsWindow('2026-00328')" ><span style="text-decoration: underline;">09/11/2026 09:00 AM </span></a> </td>
									</tr>